.countdown-timer {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Georgia', serif;
    color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    animation: backgroundColorChange 10s infinite alternate;
}

.timer-component {
    display: block;
    margin: 15px 0;
    font-weight: bold;
    color: #8b0000;
    animation: textColorChange 3s infinite alternate;
}

@keyframes backgroundColorChange {
    0% {
        background-color: #ffffff;
    }
    100% {
        background-color: #f0f8ff;
    }
}

@keyframes textColorChange {
    0% {
        color: #8b0000;
    }
    100% {
        color: #ff4500;
    }
}
