.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%; /* מוסיף רוחב של 100% */
    /* background: url('./assets/image2.png') no-repeat center center/cover; */
    font-family: 'Times New Roman', Times, serif;
}


.invitation {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* רקע לבן עם שקיפות */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    color: white;
}

.section {
    margin-bottom: 20px;
    color: white;
}

.animated-text {
    color: white;
    margin: 10px 0;
    font-size: 16px;
    color: #555;
    opacity: 0;
    animation: fadeIn 5s ease-in forwards;
}

.names {
    color: white;
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: fadeIn 8s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
